body {
  background-color: purple;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 120%
}

#header {
  margin-bottom: 50px;
  text-align: center;

}

img {
  width: 18%;
  display: block;
  margin: 0 auto;
}

h1 {
  font-weight: 700;
}

#flex {
  display: flex;
  flex-flow: reverse;
}

#uneaten,
#eaten {
  float: right;
  width: 50%;
}

#uneaten h2,
#addForm h2 {
  text-align: center;
  font-weight: 700;
}

#eaten h2 {
  margin-left: 75px;
  font-weight: 700;


}

#addForm {
  text-align: center;
  margin-top: 100px;
}

#addForm label,
#addForm input {
  font-size: 115%
}

.burgerblock {
  margin: 5px;
}

ul li {
  font-size: 110%
}

input[type=text] {
  border: 2px solid #ccc;
}

input[type=text]:focus {
  border-color: #333;
}